<p-menubar [model]="items">
  <span class="logo">TRAILSTATS</span>  
</p-menubar>

<div class="ui-g">
  <div class="ui-g-12">
    <button pButton label="Get geostats" (click)="getGeoStats()"></button>
    <button pButton label="Get trails" (click)="getTrails()"></button>
  </div>

  <div class="ui-g-12" *ngIf="noCodeCountries">
    <p-message severity="warn" text="You have {{noCodeCountries}} countries without a code"></p-message>
  </div>

  <div class="ui-g-7" *ngIf="countries">
    <p-dataTable 
      [value]="countries" 
      [editable]="true" 
      (onEditInit)="tempValue = $event.data.alpha_3"
      (onEdit)="$event.data.alpha_3 = $event.data.alpha_3.toUpperCase()"
      (onEditComplete)="addCode($event.data)" 
    #dt>
      <p-column field="title" header="Name" [sortable]="true"></p-column>
      <p-column field="surface" header="Surface" [sortable]="true">
        <ng-template let-col let-country="rowData" pTemplate="body">
          <span>{{country[col.field] | number}}</span>
        </ng-template>
      </p-column>
      <p-column field="population" header="Population" [sortable]="true">
        <ng-template let-col let-country="rowData" pTemplate="body">
          <span>{{country[col.field] | number}}</span>
        </ng-template>
      </p-column>
      <p-column  field="alpha_3"  header="Code"  [editable]="true" [sortable]="true"></p-column>
    </p-dataTable>
  </div>

</div>