<p-menubar><span class="logo">TRAILSTATS</span>  </p-menubar>

<div class="ui-g">
  <div class="ui-g-6">
    <p-panel header="About">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ipsum aliquam numquam magni iure quam laboriosam ab eum reprehenderit eaque quae accusamus reiciendis vitae commodi placeat deleniti consequuntur, possimus atque?</p-panel>
  </div>
  <div class="ui-g-6">
    <p-panel header="About">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ipsum aliquam numquam magni iure quam laboriosam ab eum reprehenderit eaque quae accusamus reiciendis vitae commodi placeat deleniti consequuntur, possimus atque?</p-panel>
  </div>
  <div class="ui-g-12">
    <app-lists></app-lists> 
  </div>
  <div class="ui-g-12">
    <app-graphs></app-graphs> 
  </div>
</div>