/* GLOBAL */
body {
  margin: 0;
}

.green {
  color: green;
}

.red {
  color: red;
}

.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border: none!important;
}

.ui-tabmenu {
  margin: 0 auto;
  width: 400px;
}
